.other-articles-card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
}
.other-articles-card{
    background-color: rgba(51, 51, 51, 0.8);
    height: 240px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.16s, scale 0.16s;
}
.other-articles-card:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    scale: 1.02;
}
.other-article-image-wrapper{
    height: 70%;
    margin-bottom: 12px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.other-article-image-wrapper > img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.other-article-text{
    font-size: 13px;
    width: 90%;
    margin-left: 5px;
    font-weight: bold;
    color: #00ff00;
}