<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.page_title }}</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='general.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='main-card.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='other-article.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap" rel="stylesheet">
<style>
    body{
        margin: 0;
        font-family: "Orbitron";
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        background-image: url({{ url_for('static', filename="/images/matrix.jpg") }});
        
    }
</style>
<body>
    <div class="wrapper-main">
        <header class="header">
            <div class="left-section">
                <img class="logo-img" src="{{ url_for('static',  filename='/logos/X_logo_2023_original.svg') }}" alt="">
                <div>My Blog</div>
            </div>
            <div class="middle-section">
                <div>Blog</div>
                <div>Newsletter</div>
                <div>Videos</div>
                <div>Podcast</div>
                <div>Resources</div>
                <div class="search">
                    <img class="search-icon" src="/logos/search.svg" alt="">
                </div>
            </div>
            <div class="right-section">
                <div class="about-me">About me</div>
                <div class="country-img">
                    <img src="{{ url_for('static', filename='/logos/Flag_of_Nigeria.svg') }}" alt="" class="country-logo">
                </div>
            </div>
        </header>
        <main>
            <section class="main-card">
                <div class="main-article-card">
                    <div class="main-article-image">
                        <img src="{{ url_for('static', filename='/images/tech2.jpg') }}" alt="">
                    </div>
                    <div class="main-article-text">
                        <div class="main-article-title">
                            {{ data.main_article_title }}
                        </div>
                        <div class="main-article-preview">
                            Gone are the days of manually organizing social content by channel. Check out these social media cal...
                        </div>
                        <div class="main-article-publisher-details">
                            <div class="main-article-author">
                                Sophia Bernazzani
                            </div>
                            <div class="main-article-date">
                                4/21/22
                            </div>
                        </div>
                    </div>
                </div>
                <div class="featured-articles-card">
                    <div class="featured-posts">
                        Featured Posts
                    </div>
                    <hr class="main-hr">
                    <div class="featured-post">
                        <div class="featured-post-title">
                            How to Drive Attendees to Your Next Event (Literally!), According to Uber for Business' Marketing Director
                        </div>
                        <div class="featured-post-details">
                            <div class="featured-post-author">
                                Caroline Forsey
                            </div>
                            <div class="featured-post-date">
                                1/11/23
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="featured-post">
                        <div class="featured-post-title">
                            How to Create a Sales Plan: Template + Examples
                        </div>
                        <div class="featured-post-details">
                            <div class="featured-post-author">
                                Meredith Hart
                            </div>
                            <div class="featured-post-date">
                                9/15/22
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="featured-post">
                        <div class="featured-post-title">
                            5 Steps to Create an Outstanding Marketing Plan [Free Templates]
                        </div>
                        <div class="featured-post-details">
                            <div class="featured-post-author">
                                Rebecca Riserbato
                            </div>
                            <div class="featured-post-date">
                                8/5/22
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="featured-post">
                        <div class="featured-post-title">
                            How to Create an Effective Journey Map [Examples + Template]
                        </div>
                        <div class="featured-post-details">
                            <div class="featured-post-author">
                                Aaron Agius
                            </div>
                            <div class="featured-post-date">
                                5/27/22
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="featured-post">
                        <div class="featured-post-title">
                            How to Write a Website Redesign Proposal
                        </div>
                        <div class="featured-post-details">
                            <div class="featured-post-author">
                                Anna Fitzgerald
                            </div>
                            <div class="featured-post-date">
                                8/18/21
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </section>
            <section class="other-articles-card-wrapper">
                <div class="other-articles-card">
                    <div class="other-article-image-wrapper">
                        <img src="{{ url_for('static', filename='/images/tech1.jpg') }}" alt="">
                    </div>
                    <div class="other-article-text">
                        Which Social Media Channels are Gaining and Losing Steam? [N...
                    </div>
                </div>
                <div class="other-articles-card">
                    <div class="other-article-image-wrapper">
                        <img src="{{ url_for('static', filename='/images/tech1.jpg') }}" alt="">
                    </div>
                    <div class="other-article-text">
                        Which Social Media Channels are Gaining and Losing Steam? [N...
                    </div>
                </div>
                <div class="other-articles-card">
                    <div class="other-article-image-wrapper">
                        <img src="{{ url_for('static', filename='/images/tech1.jpg') }}" alt="">
                    </div>
                    <div class="other-article-text">
                        Which Social Media Channels are Gaining and Losing Steam? [N...
                    </div>
                </div>
                <div class="other-articles-card">
                    <div class="other-article-image-wrapper">
                        <img src="{{ url_for('static', filename='/images/tech1.jpg') }}" alt="">
                    </div>
                    <div class="other-article-text">
                        Which Social Media Channels are Gaining and Losing Steam? [N...
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>